# This file defines the individuals or teams that are responsible for code in this repository.
# Each line is a file pattern followed by one or more owners.
# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# below owners will be requested for review when someone opens a pull request.
*    @robga @cemheren @gokmen-msft @calecarter @varshaj-github

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies files in built-in-references folder, only below owners and not the global
# owner(s) will be requested for a review.
/built-in-references/    @varunkumta @sw47 @Amirzadehm @anlandu @nreisch