apiVersion: constraints.gatekeeper.sh/v1beta1
kind: K8sAzurePodEnforceLabels
metadata:
  name: pod-enforce-labels
spec:
  match:
    excludedNamespaces: {{ .Values.excludedNamespaces }}
    kinds:
      - apiGroups: [""]
        kinds: ["Pod"]
  parameters:
    labels: {{ .Values.labels }}